<!DOCTYPE html>
<html>
<head><title><h1>This is title in the title of the head in about page</h1></title></head
<body>

<h2>Drinks I preffer</h2>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
  <li>Lassi</li>
</ul>

</body>
</html>

<%= link_to 'mere home page the jaan lyi enu dabao' ,root_path%>
